@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@import '~react-md/src/scss/react-md';
$md-primary-color: $md-blue-grey-500;
$md-secondary-color: $md-blue-grey-200;
@include react-md-everything;


$leftPaddingForTBL:40px;
.container{
    position: absolute;
    width: 99%;
    height: 99%;
}
#root{
    position: relative;
    margin-left:5%;
    margin-top:2%;
    /*width: 90%;*/
    width:993px;
    >.app{
        height:100%; 
        margin-bottom:4%;
        .title_{
            display: inline-flex;
            margin:auto;
            >.titleText_{
                font-family: "Lato";
                width:100%;
                margin-left:2px;
                font-weight: bold;
                &,.titleIcon_>i{
                    font-size:16px;
                }
            }
        }
        table{
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 4px;

            tr{
                margin:0;
                padding: 0;
            }
            >thead>tr{
                background-color: #ecf0f3;
                height:30px;
                >th{
                    margin:0 auto;
                    padding-left: $leftPaddingForTBL;
                    font-family: "Lato";
                    text-align: right;
                    font-size:18px;
                    &,>div{
                        height:18px;
                    }
                }
            }
            >tbody>tr{background-color: white;}
            >tbody td{
                padding-left: $leftPaddingForTBL;
                &:first-child{
                    padding-left:10px;
                    width: 100%;
                }
                padding-top: 7px;
                padding-bottom: 2px;
                vertical-align: middle;
                text-align: right;
                font-size: 18px;
                >div{
                    >div{
                        &,>img{
                            border-radius: 4px;
                            width: 48px;
                            height: 48px;
                        } 
                    }   
                    display: inline-flex;
                }
                .ItemData{
                    padding-left: 8px;
                    margin-top:0;
                    margin-bottom: 0;
                    box-sizing: border-box;
                    margin-top: -2px;
                    
                     >.ItemData0, >.ItemData1{
                        i{
                            font-size: 16px;
                            color:#6E6E6E;
                        }
                        >span{
                            font-family: "Lato";
                        }
                        i, >span{
                            margin: auto;
                        }
                    }
                    >.ItemData0{
                        font-family: "Open Sans";
                        font-size: 14px;
                        padding-bottom:4px;
                        display: inline-flex;
                        >span{
                            color:#397eca;
                            font-size: 14px;
                            font-family: "Open Sans";
                            font-weight: bold;
                        }
                        >div{
                            margin-top:0px;
                            height:0;
                        }
                        i{
                            padding-left:2px;
                            margin-top: 2px;
                            cursor: pointer;
                        }
                    }
                    >.ItemData1{
                        padding-top:0px;  
                        margin: auto 0;
                        >span{
                            color:#3B3B3B;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        >i{
                            vertical-align: bottom;
                            margin-bottom: 4px;
                        }
                    }
                   
                }
            }
        }
    }
}
.grayPlus{
    background-color: #fbfbfb !important;
}
.tabBold{
    font-weight: bold;
}

/*First column*/
.md-table-column--grow {
    width: 60%;
}
.okGreen{
    color:#a4c574 !important;
}
.okMouse_element_follower{
    width:80px;
    height: 16px;
    margin-left:2px;
    border-radius: 8px;
    color:white;
    font-family: "Open Sans";
    font-size: 12px;
    text-align: center;
    cursor:pointer;
}
.noOk{
    background-color:#FC4646 !important;
}
.yesOk{
    background-color:#a4c574 !important;
}
.showMoreBTN{
    width:18%;
    margin:auto;
    margin-top:-1px;
    text-align: center;
    padding: 3px 0;
    font-family: "Lato";
    background-color: white;
    border:1px solid lightgray;
    border-top:1px dotted lightgray;
    border-radius: 0 0 2px 2px;
}
.taLeft{
    text-align: left !important;
}